*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Emacs
\#*#
.#*
*~

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/workspace.xml
.idea/.name

# Hive
metastore_db/*
.idea/dictionaries/
.idea/libraries/scala_sdk_2_11_12.xml
.idea/modules/LearningSpark-build.iml
.idea/modules/LearningSpark.iml
.idea/sonarlint/
/project/project/
/.idea/
